/***********************
 サイト全体
 ***********************/
.wy-nav-content {
    /* テーマのサイト幅制限を上書き */
    max-width: 200em;
    /* ノート左幅 */
    padding-left: 15em;
    /* ノート右幅 */
    padding-right: 10em;
}

/***********************
 サイドバー
 ***********************/
.wy-nav-side {
   width: 25em;
}
.wy-side-scroll {
  /* サイドバーが隠れないように */
    width: auto;
}

/***********************
 サイドバーの検索部分
 ***********************/
.wy-side-nav-search {
    /* サイドバー幅に合わせる */
    width: auto;
    font-size: 1.25em;
}

/***********************
 サイドバーのナビ部分
 ***********************/

/* ナビ全体 */
.wy-menu.wy-menu-vertical {
    /* サイドバー幅に合わせる */
    width: auto;
    font-size: 0.9em;
}

/* ノート名 */
.wy-menu.wy-menu-vertical .caption-text {
    color: #ff0;
}

/* 現在いるノート名 */
.wy-menu.wy-menu-vertical .current .toctree-l1.current {
    color: black;
}

/* 現在開いている見出し */
.wy-menu.wy-menu-vertical .current .toctree-l1.current a.reference.internal.current:before {
    /*アイコン色*/
    color: #2980B9;
    /*アイコンのユニコード*/
    content: "\f08d";

    font-family: "FontAwesome", serif;
    /*サイズ*/
    font-size: 1.2em;

    margin-left: 0.3em;

    margin-right: 0.3em;
}

/***********************
 インデックスノート
 ***********************/
.toctree-wrapper.compound .caption {
    /* 背景：色 */
    background: #d7d7d7;
    /* 左線：太さ，色 */
    border-left: 0.95em solid #2980B9;
    /* 文字：色 */
    color: #010101;
    /* 内部余白：文字周り */
    padding: 0.6em;
    /* 上外部余白：大きさ */
    margin-top: 1em;
}

/***********************
 各ノート
 ***********************/

/* ノートタイトル */
h1 {

    background: black;

    border-radius: 0.45em;

    color: white;

    font-size: 1.75em;

    padding: 0.6em;

    position: relative;
}

h1:after {

    border: 15px solid transparent;

    border-top: 15px solid black;

    content: '';

    height: 0;

    left: 1.6em;

    position: absolute;

    top: 100%;

    width: 0;
}

/* 章 */
h2 {
    /* 背景：色 */
    background: #d7d7d7;
    /* 左線：太さ，色 */
    border-left: 0.95em solid #2980B9;
    /* 文字：色 */
    color: #010101;
    font-size: 1.2em;
    /* 上外部余白：大きさ */
    margin-top: 1.5em;
    /* 内部余白：文字周り */
    padding: 0.6em;
}

/* 節 */
h3 {
    background: #ffffd5;
    
    border-bottom: dotted 0.06em gray;
    
    border-top: dotted 0.06em gray;
    /*文字色*/
    color: black;
    font-size: 1.1em;
    /*行高*/
    line-height: 1.4;
    /*アイコン分のスペース*/
    padding: 0.5em 0.5em 0.5em 1.5em;
    
    /* 画像より背面 */
    position: relative;
    z-index: 1;
}

h3:before {
    /*アイコン色*/
    color: #2980B9;
    /*アイコンのユニコード*/
    content: "\f138";
    /*絶対位置*/
    position: absolute;

    font-family: "FontAwesome", serif;
    /*サイズ*/
    font-size: 1.1em;
    /*アイコンの位置*/
    left: 0.25em;
    /*アイコンの位置*/
    top: 0.5em;
}

/* 項 */
h4 {
    font-size: 1em;
}

/* 説明 */
p {
    font-size: 0.9em;
}

/* 画像 */
img {
    /* 囲み線 */
    border: 0.1em solid #ddd;

    border-radius: 0.25em;

    display: block;
    
    /* 縦長の画像を制限 */
    max-height: 22.5em;
    
    width: auto;
    
    height: auto;

    margin: 0 auto;

    text-align: center;

    /* ホバー画像より背面 */
    position: relative;
    z-index: 2;
}

img:hover {
    /* 拡大率 */
    transform: scale(1.2,1.2);
    
    /* 最大拡大まで時間 */
    transition-duration: 0.25s;

    /* h3と画像より前面 */
    position: relative;
    z-index: 3;
}

/* テーブル */
table {

    margin-left: auto;

    margin-right: auto;
}

/***********************
 コードブロック
 ***********************/
pre code {

    font-size: 0.9em;
}