/***********************
 Index
 ***********************/
.toctree-wrapper.compound .caption {
    /* 背景：色 */
    background: #d7d7d7;
    /* 左線：太さ，色 */
    border-left: 15px solid #2980B9;
    /* 文字：色 */
    color: #010101;
    /* 内部余白：文字周り */
    padding: 0.6em;
    /* 上外部余白：大きさ */
    margin-top: 1.5em;
}


/***********************
 サイドナビ
 ***********************/

.wy-menu-vertical {
    font-size: 13.5px;
}

/* 現在いるページのナビ：色 */
.wy-menu-vertical * li.current a {
    color: black;
}

/* h1のナビ：色 */
.wy-menu-vertical span {
    color: white;
}

/* 現在いないページのナビ：色 */
.wy-menu-vertical a, .wy-menu-vertical .subnav a {
    color: white;
}

/* ページ：色 */
.wy-menu-vertical span {
    color: #ff0;
}

/* アイコンと文字：大きさ */
.wy-side-nav-search {
    font-size: 20px;
}


/***********************
 各ページ
 ***********************/

h1 {
    background: black;
    border-radius: 7px;
    color: white;
    font-size: 28px;
    position: relative;
    padding: 0.6em;
}

h1:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid black;
    width: 0;
    height: 0;
}

h2 {
    /* 背景：色 */
    background: #d7d7d7;
    /* 左線：太さ，色 */
    border-left: 15px solid #2980B9;
    /* 文字：色 */
    color: #010101;
    /* 内部余白：文字周り */
    padding: 0.6em;
    /* 上外部余白：大きさ */
    margin-top: 1.5em;
}

h3 {
    position: relative; /*相対位置*/
    padding: 0.5em 0.5em 0.5em 1.5em; /*アイコン分のスペース*/
    line-height: 1.4; /*行高*/
    color: black; /*文字色*/
    border-top: dotted 1px gray;
    border-bottom: dotted 1px gray;
    background: #ffffd5;
}

h3:before {
    font-family: "FontAwesome", serif;
    content: "\f138"; /*アイコンのユニコード*/
    position: absolute; /*絶対位置*/
    font-size: 1em; /*サイズ*/
    left: 0.25em; /*アイコンの位置*/
    top: 0.5em; /*アイコンの位置*/
    color: #2980B9; /*アイコン色*/
}

img{
    display: block;
    margin: 0 auto;
    /* 位置：中央 */
    text-align: center;
}


/***********************
 コードブロック
 ***********************/

pre code {
    font-size: 14px;
}

.wy-nav-content {
    max-width: none;
}