/***********************
 目次
 ***********************/
.toctree-wrapper.compound .caption {
    background: #d7d7d7; /* 背景：色 */
    border-left: 15px solid #2980B9; /* 左線：太さ，色 */
    color: #010101; /* 文字：色 */
    padding: 0.6em; /* 内部余白：文字周り */
    margin-top: 1em; /* 上外部余白：大きさ */
}


/***********************
 サイドナビ
 ***********************/

/* ナビ全体 */
.wy-menu.wy-menu-vertical {
    font-size: 14px;
}

/* ノート名 */
.wy-menu.wy-menu-vertical .caption-text {
    color: #ff0;
}

/* 現在いるノート名 */
.wy-menu.wy-menu-vertical .current .toctree-l1.current {
    color: black;
}

/* 現在開いている見出し */
.wy-menu.wy-menu-vertical .current .toctree-l1.current a.reference.internal.current:after {
    color: #2980B9; /*アイコン色*/
    content: "\f08d"; /*アイコンのユニコード*/
    font-family: "FontAwesome", serif;
    font-size: 1.0em; /*サイズ*/
    margin-left: 0.5em;
}

/* アイコンと文字 */
.wy-side-nav-search {
    font-size: 20px;
}


/***********************
 各ノート
 ***********************/

h1 {
    background: black;
    border-radius: 7px;
    color: white;
    font-size: 28px;
    padding: 0.6em;
    position: relative;
}

h1:after {
    border: 15px solid transparent;
    border-top: 15px solid black;
    content: '';
    height: 0;
    left: 26px;
    position: absolute;
    top: 100%;
    width: 0;
    
}

h2 {
    background: #d7d7d7; /* 背景：色 */
    border-left: 15px solid #2980B9; /* 左線：太さ，色 */
    color: #010101; /* 文字：色 */
    font-size: 18px;
    margin-top: 1.5em; /* 上外部余白：大きさ */
    padding: 0.6em; /* 内部余白：文字周り */
}

h3 {
    background: #ffffd5;
    border-bottom: dotted 1px gray;
    border-top: dotted 1px gray;
    color: black; /*文字色*/
    font-size: 16px;
    line-height: 1.4; /*行高*/
    padding: 0.5em 0.5em 0.5em 1.5em; /*アイコン分のスペース*/
    position: relative; /*相対位置*/
}

h3:before {
    color: #2980B9; /*アイコン色*/
    content: "\f138"; /*アイコンのユニコード*/
    position: absolute; /*絶対位置*/
    font-family: "FontAwesome", serif;
    font-size: 1.25em; /*サイズ*/
    left: 0.25em; /*アイコンの位置*/
    top: 0.5em; /*アイコンの位置*/
}

h4 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

img {
    border: 1px solid #ddd; /* 囲み線 */
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    text-align: center;
}


/***********************
 コードブロック
 ***********************/

pre code {
    font-size: 14px;
}

.wy-nav-content {
    max-width: none;
}