#============
# Folder
#============
production/.terraform/*
modules/security_group/main.tf
modules/service_role/main.tf

#============
# File
#============
production/config.tfvars
production/terraform.tfstate
production/terraform.tfstate.backup
production/.terraform.tfstate.lock.info
production/container_definition.json