#============
# Folder
#============
production/.terraform/*
modules/security_group/*

#============
# File
#============
production/config.tfvars
production/terraform.tfstate
production/terraform.tfstate.backup
production/.terraform.tfstate.lock.info
production/task_definition.json