#============
# Folder
#============
production/.terraform/*
modules/acm_certificate/*
modules/security_group/*
modules/service_role/*

#============
# File
#============
production/config.tfvars
production/terraform.tfstate
production/terraform.tfstate.backup
production/.terraform.tfstate.lock.info
production/container_definition.json